"$schema" = 'https://starship.rs/config-schema.json'

palette = "catppuccin_mocha"

format = """$directory $git_branch$git_status $package $linebreak
$character\
"""

# Prompt Components

[character]
format = "[ ](fg:mauve)"
error_symbol = "[ ](fg:red)"
success_symbol = "[ ](fg:green)"

# Directory

[directory]
read_only = "󰌾 "
read_only_style = "fg:red"
style = "text"
format = "[$read_only]($read_only_style)[󰉖 $path]($style)"
truncation_length = 4

# Git

[git_branch]
style = "bg:surface0 fg:peach"
format = "[](surface0)[$symbol$branch(:$remote_branch)]($style)"
symbol = " "

[git_status]
style = "bg:surface0 fg:peach"
format = "[$modified]($style)[](surface0) "
modified = " !"

# Contexts

[package]
symbol = " "
style = "bg:surface0 fg:green"
format = "[](surface0)[$symbol$version]($style)[](surface0)"

# Color Palette
[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"